.App {
	text-align: center;
	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
	color: #fff;
}
input {
	margin-block: 2em;
	padding-block: 1em;
	padding-inline: 2em;
	width: 100%;
	background-color: transparent;
	color: white;
	font-size: 1.1em;
	border: 1px solid white;
	border-radius: 0.5em;
}

ul {
	list-style: none;
	text-align: center;
}
li {
	text-align: start;
	font-size: 1.1em;
	text-transform: capitalize;
	padding-block: 0.2em;
}
